html {
    height: 100%;
}

body{
    background-image: url('../img/header1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    min-height: 100%;
    background-color: rgba(0,0,0,0.1);
    font-family: 'Open Sans', sans-serif;
}

.container{
    padding:10px;
    width:380px;
    margin:0 auto;
}

.header{
    width: 380px;
    height:200px;
    background-image: url('../img/header.jpg');
    background-size: 100% 200%;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    position: relative;
}

.clear{
    width : 30px;
    height: 30px;
    position: absolute;
    right:20px;
    top: 20px;
}

.clear i{
    font-size: 30px;
    color: #FFF;
    padding:0;
    margin:0;
    width : 30px;
    height: 30px;
    text-shadow: 2px 2px #808080;
}

.clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
}

#date{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #FFF;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    width: 360px;
    height: 35px;
    text-shadow: 2px 2px #808080;
    font-style: 30px;
}


.content{
    width:380px;
    height: 300px;
    max-height: 300px;
    background-color: #FFF;
    overflow: auto;
    border-radius: 0 0 15px 15px;
    font-family: 'Open Sans', sans-serif;
}



.content ul{
    padding:0;
    margin:0;
}

.item{
    width:380px;
    height: 45px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}

.item i.co{
    position: absolute;
    font-size: 25px;
    padding-left: 5px;
    left: 15px;
    top: 10px;
}

.item i.co:hover{
    cursor: pointer;
}

.fa-check-circle{
    color:#6eb200;
}

.item p.text{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 20px;
    left:60px;
    top:10px;
    background-color: #FFF;
    max-width:285px;
}


.item i.de{
    position: absolute;
    font-size: 25px;
    right:15px;
    top:10px;
}

.item i.de:hover{
    color:#af0000;
    cursor: pointer;
}

.add{
    position: absolute;
    width: 360px;
    height:40px;
    background-color: #FFF;
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
    top: 440px;
}

.add i{
    position: absolute;
    font-size: 40px;
    color: #e9d2d2;
    top: 17px;
}

.add input{
    position: absolute;
    top: 18px;
    left: 60px;
    height: 35px;
    width: 300px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-left:10px;
    font-family: 'Open Sans', sans-serif;
}
